.git
.gitignore

.github

.env
.env.*
!.env.example

node_modules
vendor

bootstrap/cache/*.php

storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/debugbar/*

tests

.idea
.vscode

.DS_Store
Thumbs.db

README.md

docker-compose.yml
docker-compose.prod.yml

*.log
